<div class="container">
 
    <div class="starter-template">
    <div class="row"><h1>{{ titulo }} </h1></div>
      <div class="row">       
        <div class="col-md-12 mt-5">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Nombre Libro</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody >

                </tbody>
            </table>
        </div>
      </div>
    </div>
</div>