<div class="container">
 
    <div class="starter-template">
    <div class="row"><h1>{{ titulo }} </h1></div>
      <div class="row">       
        <div class="col-md-12 mt-5">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Nombre Libro</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let libro of listaLibros; index as libroId">
                            <th scope="row"><a [routerLink]="['/libros', libroId+1]">{{ libro.nombre}}</a></th>
                            <td>{{ libro.precio }} </td>
                            <td>{{ libro.cantidad }}</td>
                            <td>
                                <a mat-raised-button color="primary" class="btn" (click)='removerLibro(libro)'> Remover </a>
                            </td>
                          </tr>
                          <tr>
                </tbody>
            </table>
        </div>
      </div>
      <div class="row">
        <a mat-raised-button color="primary" class="btn"> Comprar </a>
      </div>
    </div>

</div>