<mat-toolbar color="primary">
    <span class="material-icons">book</span>
    <span> BookStore!
    </span>
   
    <div class="spacer"></div>
   
    <a mat-button-flat color="basic" > <span class="material-icons"> search </span> </a>
    <a mat-button routerLink="">Inicio</a>
    <a mat-button routerLink="categorias">Categorias</a>
    <a mat-button routerLink="top10">Top 10 productos</a>
    <a mat-button routerLink="contacto">Contacto</a>
    <a mat-raised-button color="basic" >
        <span class="material-icons"> shopping_cart </span>
    </a>
    
</mat-toolbar>