<div>

    <section class="py-5">
        <div class="container">
          <h1>Quiénes somos</h1>
          <p class="lead">Compra libros de todo tipo</p>
          <p>Somos una pagina de compra, venta y distribucion de libros a lo largo de todo Chile.</p>
        </div>
    </section>
    
      <div class="fondo py-5 bg-image-full">
      </div>
    
    <section class="py-5">
        <div class="container">
          <h1>Historia</h1>
          <p class="lead"></p>
          <p>Estamos activos desde el año 2020, creamos esta pagina con el proposito de distribuir libros a todo el pais a precios accesibles para todo publico</p>
        </div>
    </section>
    
    <footer class="py-4 bg-secondary">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; Bookstore</p>
        </div>
    </footer>
    
</div>